# imagehub service unit file
# Jeff Bass, jeff@yin-yang-ranch.com
# Defines imagehub.py as a systemd service
# This file should be copied to /etc/systemd/system as root
#   e.g. sudo cp imagehub.service /etc/systemd/system
# Use usual systemctl start, stop, status restart, enable commands
#   e.g. sudo systemctl start imagehub.service

[Unit]
Description=ATSEcho Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/porthose_cjsmo_cjsmo/atsecho
User=root
Restart=always
RestartSec=5
ExecStart=/home/porthose_cjsmo_cjsmo/atsecho/main

[Install]
WantedBy=multi-user.target
